<?xml version="1.0"?>
<config>
    <modules>
        <Mageist_Kargolar>
            <version>0.1.0</version>
        </Mageist_Kargolar>
    </modules> 
    <global>
        <models>
            <kargolar>
                <class>Mageist_Kargolar_Model</class>
            </kargolar>
        </models>
        <helpers>
            <kargolar>
                <class>Mageist_Kargolar_Helper</class>
            </kargolar>
        </helpers>
        <blocks>
            <kargolar>
                <class>Mageist_Kargolar_Block</class>
            </kargolar>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Mageist_Kargolar_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_shipment_create_tracking>Mageist_Kargolar_Block_Adminhtml_Sales_Order_Shipment_Create_Tracking</sales_order_shipment_create_tracking>
                    <sales_order_invoice_create_tracking>Mageist_Kargolar_Block_Adminhtml_Sales_Order_Invoice_Create_Tracking</sales_order_invoice_create_tracking>
                    <sales_order_shipment_view_tracking>Mageist_Kargolar_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <kargolar> 
                    <file>mageist_kargolar.xml</file> 
                </kargolar> 
            </updates> 
        </layout>
        <translate>
            <modules>
                <kargolar>
                    <files>
                        <default>Mageist_Kargolar.csv</default>
                    </files>
                </kargolar>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kargolar>
                                            <title>Kargolar - All</title>
                                        </kargolar>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>