pp/etc/local.xml
media/*
magmi
downloader/pearlib/cache/*
downloader/pearlib/download/*
app/etc/use_cache.ser
local.xml
var/cache/*
var/session/*
var/log/*
var/lock/*
var/report/*
var/locks/*
var/export/*
var/import/*
var/package/tmp/*
var/tmp/*
var/sphinx
var/backups
var/*.zip
downloader/.cache/*
downloader/cache.cfg
downloader/connect.cfg
errors/local.xml
.DS_Store
.boss/*
development/db/*.sql
development/db/*.sql.*
sitemap.xml
.idea
nbproject
