<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Macpain_Als>
            <version>0.1.0</version>
        </Macpain_Als>
    </modules>
    <global>
        <models>
            <macpain_als>
                <class>Macpain_Als_Model</class>
            </macpain_als>
            <macpain_als_mysql4>
                <class>Macpain_Als_Model_Mysql4</class>
                <entities></entities>
            </macpain_als_mysql4>
        </models>
        <helpers>
            <macpain_als>
                <class>Macpain_Als_Helper</class>
            </macpain_als>
        </helpers>
        <blocks>
            <macpain_als>
                <class>Macpain_Als_Block</class>
            </macpain_als>
        </blocks>
        <resources>
            <macpain_als_setup>
                <setup>
                    <module>Macpain_Als</module>
                    <class>Macpain_Als_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </macpain_als_setup>
        </resources>
    </global>
    <adminhtml>
    	<translate>
            <modules>
                <Macpain_Als>
                    <files>
                        <default>Macpain_Als.csv</default>
                    </files>
                </Macpain_Als>
            </modules>
        </translate>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <als>
                        <class>macpain_als/adminhtml_observer</class>
                        <method>onAdminSessionUserLoginSuccess</method>
                    </als>
                </observers>
            </admin_session_user_login_success>
            <adminhtml_controller_action_predispatch_start>
            	<observers>
                    <als>
                        <class>macpain_als/adminhtml_observer</class>
                        <method>onAminhtmlControllerActionPredispatchStart</method>
                    </als>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <adminhtml_block_html_before>
            	<observers>
                    <als>
                        <class>macpain_als/adminhtml_observer</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </als>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
        	<als>
                <use>admin</use>
                <args>
                    <module>Macpain_Als</module>
                    <frontName>als</frontName>
                </args>
            </als>
            <adminhtml>
                <args>
                    <modules>
                        <Macpain_Als before="Mage_Adminhtml">Macpain_Als_Adminhtml</Macpain_Als>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    	<als>
    		<cookie>
	    		<name>admin_form_cookie</name>
    		</cookie>
    	</als>
    </default>
</config>
