<?xml version="1.0"?>
<config>
    <modules>
        <AW_Avail>
            <version>1.2.4</version><platform>ce</platform>
        </AW_Avail>
    </modules>

    <admin>
        <routers>
            <avail_admin>
                <use>admin</use>
                <args>
                    <module>AW_Avail</module>
                    <frontName>avail_admin</frontName>
                </args> 
            </avail_admin>
        </routers>
    </admin>

    <global>
        <blocks>
            <avail>
                <class>AW_Avail_Block</class>
            </avail>             
        </blocks>
        <models>
            <avail>
                <class>AW_Avail_Model</class>
                <resourceModel>avail_mysql4</resourceModel>
            </avail>
            <avail_mysql4>
                <class>AW_Avail_Model_Mysql4</class>   
                <entities>
                    <rules>
                        <table>aw_avail_rules</table>
                    </rules>                   
                </entities>
            </avail_mysql4>  
        </models>
        <helpers>
            <avail>
                <class>AW_Avail_Helper</class>
            </avail>
        </helpers>
        <resources>      
            <awavail_setup>
                <setup>
                    <module>AW_Avail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awavail_setup>
            <avail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </avail_write>
            <avail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </avail_read>
        </resources>  
    </global>

    <frontend>        
        <layout>
            <updates>
                <avail module="AW_Avail">
                    <file>aw_avail.xml</file>
                </avail>
            </updates>
        </layout>
        <routers>
            <awavail>
                <use>standard</use>
                <args>
                    <module>AW_Avail</module>
                    <frontName>avail</frontName>
                </args>
            </awavail>
        </routers>
        <translate>
            <modules>
                <AW_Avail>
                    <files>
                        <default>AW_Avail.csv</default>
                    </files>
                </AW_Avail>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <avail_stock_status_to_html_before>
                        <class>avail/observer</class>
                        <method>coreBlockBeforeToHtml</method>
                    </avail_stock_status_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>     
        </events>
    </frontend>

    <adminhtml>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <avail__rules_collection>addStoreFilter</avail__rules_collection>                    
                </collection_load_before>
                <model_save_before>
                    <avail__rules>AW_Avail_Model_Rules::awSaveBefore</avail__rules>
                </model_save_before>
            </admingws>
        </enterprise>
        <layout>
            <updates>
                <avail>
                    <file>aw_avail.xml</file>
                </avail>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Avail>
                    <files>
                        <default>AW_Avail.csv</default>
                    </files>
                </AW_Avail>
            </modules>
        </translate>
        <menu> 
            <catalog>
                <children>             
                    <aw_avail_rules translate="title" module="avail">
                        <title>Custom Stock Display</title>
                        <action>avail_admin/adminhtml_rules/</action>
                        <sort_order>60</sort_order>
                    </aw_avail_rules>
                </children>
            </catalog>
        </menu>    
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <aw_avail_rules translate="title" module="avail">
                                    <title>Custom Stock Display</title>
                                    <action>avail_admin/adminhtml_rules/</action>
                                    <sort_order>60</sort_order>
                                </aw_avail_rules>
                            </children>
                        </catalog>                       
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>