<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mirasvit_SearchIndex>
            <version>1.0.4</version>
        </Mirasvit_SearchIndex>
    </modules>
    <global>
        <models>
            <catalogsearch>
                <rewrite>
                    <indexer_fulltext>Mirasvit_SearchIndex_Model_Catalogsearch_Indexer_Fulltext</indexer_fulltext>
                    <layer>Mirasvit_SearchIndex_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>

            <searchindex>
                <class>Mirasvit_SearchIndex_Model</class>
                <resourceModel>searchindex_resource</resourceModel>
            </searchindex>

            <searchindex_resource>
                <class>Mirasvit_SearchIndex_Model_Resource</class>
            </searchindex_resource>
        </models>
        <helpers>
            <searchindex>
                <class>Mirasvit_SearchIndex_Helper</class>
            </searchindex>
        </helpers>
        <resources>
            <searchindex_setup>
                <setup>
                    <module>Mirasvit_SearchIndex</module>
                </setup>
            </searchindex_setup>
        </resources>
        <blocks>
            <searchindex>
                <class>Mirasvit_SearchIndex_Block</class>
            </searchindex>
        </blocks>
        <events>
            <cms_page_save_commit_after>
                <observers>
                    <index>
                        <class>searchindex/observer</class>
                        <method>processCmsPageSave</method>
                    </index>
                </observers>
            </cms_page_save_commit_after>
            <cms_page_delete_commit_after>
                <observers>
                    <index>
                        <class>searchindex/observer</class>
                        <method>processCmsPageDelete</method>
                    </index>
                </observers>
            </cms_page_delete_commit_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mirasvit_SearchIndex>
                    <files>
                        <default>Mirasvit_SearchIndex.csv</default>
                    </files>
                </Mirasvit_SearchIndex>
            </modules>
        </translate>
        <layout>
            <updates>
                <searchindex module="searchindex">
                    <file>searchindex.xml</file>
                </searchindex>
            </updates>
        </layout>
        <routers>
            <searchindex>
                <use>standard</use>
                <args>
                    <module>Mirasvit_SearchIndex</module>
                    <frontName>searchindex</frontName>
                </args>
            </searchindex>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <searchindex translate="title" module="searchindex">
                                            <title>Sphinx Index</title>
                                        </searchindex>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <searchindex>
                <use>admin</use>
                <args>
                    <module>Mirasvit_SearchIndex</module>
                    <frontName>searchindex</frontName>
                </args>
            </searchindex>
        </routers>
    </admin>
    <default>
        <searchindex>
            <catalog>
                <title>Catalog</title>
            </catalog>
            <cms>
                <title>Other Results</title>
            </cms>
            <awblog>
                <title>Aheadworks Blog</title>
            </awblog>
        </searchindex>
    </default>
</config>